<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<div>
    <h3>Welcome <%= accountData.account_firstname %></h3>
    <p>You're logged in</p>
    <a title="Edit account information" href="/account/edit">Edit Account Information</a>
</div>