<header id="top-header">
  <span class="site-name">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
    <div id="tools">
      <% if (loggedIn) {%>
        <span><a class="a-button" title="Account management" href="/account/"><%= accountData.account_firstname %> <%= accountData.account_lastname %></a> |
        <a class="a-button" title="Click to log out" href="/account/logout">Logout</a></span>
      <% } else { %>
        <a class="a-button" title="Click to log in" href="/account/login">Login</a>
      <% } %>
    </div>
</header>
