<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
</ul>
<% } %>

<div class="inv-management">
    <a href="/inv/classification">Add new classification</a>
    <a href="/inv/vehicle">Add new inventory</a>
</div>


<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>Javascript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>